<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
                                         "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<!-- use 127.5.152.130 for accessing Database of openshift serve -->
<hibernate-configuration>
 <session-factory>
  <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
  <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
  <property name="hibernate.connection.url">jdbc:postgresql://127.5.152.130/pixplorer</property>
  
  <property name="hibernate.connection.username">pixplorer</property> 
  <property name="hibernate.connection.password">pixplorer</property>
  <property name="current_session_context_class">thread</property>

  <mapping class="at.ac.uibk.sepm.pixplorer.db.Category"/>
  <mapping class="at.ac.uibk.sepm.pixplorer.db.GPSData"/>
  <mapping class="at.ac.uibk.sepm.pixplorer.db.Place"/>
  <mapping class="at.ac.uibk.sepm.pixplorer.db.Trophy"/>
  <mapping class="at.ac.uibk.sepm.pixplorer.db.User"/>
 </session-factory>
</hibernate-configuration>
