<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
    <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
    <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/EquisseDB</property>
    <property name="hibernate.connection.username">equisse</property>
    <property name="hibernate.connection.password">equisse</property>
    <property name="current_session_context_class">thread</property>
   
    <mapping class="pl.cormay.equisse.datamodel.general.DatabaseVersion"/>
    <mapping class="pl.cormay.equisse.datamodel.general.Doctor"/>
    <mapping class="pl.cormay.equisse.datamodel.general.Hospital"/>
	<mapping class="pl.cormay.equisse.datamodel.test.Test"/>
    <mapping class="pl.cormay.equisse.datamodel.test.CalculatedTest"/>
    <mapping class="pl.cormay.equisse.datamodel.general.Cuvette"/>
    <mapping class="pl.cormay.equisse.datamodel.general.User"/>
    <mapping class="pl.cormay.equisse.datamodel.calib.CALResult"/>
    <mapping class="pl.cormay.equisse.datamodel.qc.QualityControlResult"/>
    <mapping class="pl.cormay.equisse.datamodel.calib.CALDefinition"/>
    <mapping class="pl.cormay.equisse.datamodel.qc.Control"/>
    <mapping class="pl.cormay.equisse.datamodel.qc.ControlConcentrationMatrix"/>	
    <mapping class="pl.cormay.equisse.datamodel.general.CuvetteWaterBlank"/>
    <mapping class="pl.cormay.equisse.datamodel.test.CarryOver"/>
    <mapping class="pl.cormay.equisse.datamodel.test.TestReference"/>
    <mapping class="pl.cormay.equisse.datamodel.sample.Sample"/>
    <mapping class="pl.cormay.equisse.datamodel.test.Profile"/>
    <mapping class="pl.cormay.equisse.datamodel.general.MessageProtocol"/>
    <mapping class="pl.cormay.equisse.datamodel.test.Reagent"/>
    <mapping class="pl.cormay.equisse.datamodel.general.Department"/>
    <mapping class="pl.cormay.equisse.datamodel.calib.Calibrator"/>
    <mapping class="pl.cormay.equisse.datamodel.calib.CalibratorConcentrationMatrix"/>	
    <mapping class="pl.cormay.equisse.datamodel.test.MeasResult"/>
    <mapping class="pl.cormay.equisse.datamodel.qc.QualityControlDefinition"/>
    <mapping class="pl.cormay.equisse.datamodel.general.Patient"/>
	<mapping class="pl.cormay.equisse.datamodel.general.Analyzer"/>
	<mapping class="pl.cormay.equisse.datamodel.general.ISEModule"/>	
	<mapping class="pl.cormay.equisse.datamodel.general.ISEComponent"/>	
	<mapping class="pl.cormay.equisse.datamodel.general.ISECalibrationResult"/>	
  </session-factory>
</hibernate-configuration>
